@font-face{font-family:Satoshi;font-style:normal;font-weight:400;font-display:swap;src:url("/static/fonts/Satoshi-400.woff2") format("woff2")}
@font-face{font-family:Satoshi;font-style:normal;font-weight:500;font-display:swap;src:url("/static/fonts/Satoshi-500.woff2") format("woff2")}
@font-face{font-family:Satoshi;font-style:normal;font-weight:700;font-display:swap;src:url("/static/fonts/Satoshi-700.woff2") format("woff2")}
